___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" alt="CLRSWY"></p>

___

<h1><p style="text-align: center;">Data Analysis with Python <br>Project - 1</p><h1> - Traffic Police Stops <img src="https://docs.google.com/uc?id=17CPCwi3_VvzcS87TOsh4_U8eExOhL6Ki" class="img-fluid" alt="CLRSWY" width="200" height="100">

Does the ``gender`` of a driver have an impact on police behavior during a traffic stop? **In this chapter**, you will explore that question while practicing filtering, grouping, method chaining, Boolean math, string methods, and more!

***

## Examining traffic violations

Before comparing the violations being committed by each gender, you should examine the ``violations`` committed by all drivers to get a baseline understanding of the data.

In this exercise, you'll count the unique values in the ``violation`` column, and then separately express those counts as proportions.

> Before starting your work in this section **repeat the steps which you did in the previos chapter for preparing the data.** Continue to this chapter based on where you were in the end of the previous chapter.

In [92]:
# Reading the data
import pandas as pd
ri = pd.read_csv('police.csv')
ri.head()

,id,state,stop_date,stop_time,location_raw,county_name,county_fips,fine_grained_location,police_department,driver_gender,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
0,RI-2005-00001,RI,2005-01-02,01:55,Zone K1,NaN,NaN,NaN,600,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
1,RI-2005-00002,RI,2005-01-02,20:30,Zone X4,NaN,NaN,NaN,500,M,...,False,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4
2,RI-2005-00003,RI,2005-01-04,11:30,Zone X1,NaN,NaN,NaN,0,NaN,...,False,NaN,NaN,False,NaN,NaN,NaN,NaN,False,Zone X1
3,RI-2005-00004,RI,2005-01-04,12:55,Zone X4,NaN,NaN,NaN,500,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
4,RI-2005-00005,RI,2005-01-06,01:30,Zone X4,NaN,NaN,NaN,500,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4

In [93]:
#Â Dropping the columns due to existing of many nan valuses
ri.drop(['county_name','state'], axis=1, inplace=True)
ri.shape

(509681, 24)

In [94]:
# Dropping the rows which has missing values
ri.dropna(subset=['driver_gender'], inplace = True)
ri.shape

(480584, 24)

In [95]:
# converting type of "is_arrested" variable to bool
ri.astype({'is_arrested': 'bool'}).dtypes

id                        object
stop_date                 object
stop_time                 object
location_raw              object
county_fips              float64
fine_grained_location    float64
police_department         object
driver_gender             object
driver_age_raw           float64
driver_age               float64
driver_race_raw           object
driver_race               object
violation_raw             object
violation                 object
search_conducted          object
search_type_raw           object
search_type               object
contraband_found            bool
stop_outcome              object
is_arrested                 bool
stop_duration             object
out_of_state              object
drugs_related_stop          bool
district                  object
dtype: object

In [96]:
# Creating datetime feature from "stop_date" and "stop_time" columns
ri['stop_datetime'] = pd.to_datetime(ri['stop_date'] + ' ' + ri['stop_time'])

In [97]:
# Drop the useless columns 
ri.drop(['stop_date', 'stop_time'], axis=1, inplace=True)
ri.shape

(480584, 23)

In [157]:
ri.set_index('stop_datetime', inplace = True)

In [158]:
ri.head(3)

,id,location_raw,county_fips,fine_grained_location,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,...,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district,frisk
stop_datetime,,,,,,,,,,,,,,,,,,,,,
2005-01-02 01:55:00,RI-2005-00001,Zone K1,NaN,NaN,600,M,1985.0,20.0,W,White,...,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1,False
2005-01-02 20:30:00,RI-2005-00002,Zone X4,NaN,NaN,500,M,1987.0,18.0,W,White,...,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4,False
2005-01-04 12:55:00,RI-2005-00004,Zone X4,NaN,NaN,500,M,1986.0,19.0,W,White,...,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4,False

**INSTRUCTIONS**

*   Count the unique values in the ``violation`` column, to see what violations are being committed by all drivers.
*   Express the violation counts as proportions of the total.

In [159]:
ri['violation'].value_counts()

Speeding               268736
Moving violation        90228
Equipment               61250
Other                   24216
Registration/plates     19830
Seat belt               16324
Name: violation, dtype: int64

In [206]:
ri['violation'].value_counts(normalize=True) * 100

Speeding               55.918632
Moving violation       18.774658
Equipment              12.744910
Other                   5.038869
Registration/plates     4.126230
Seat belt               3.396701
Name: violation, dtype: float64

***

## Comparing violations by gender

The question we're trying to answer is whether male and female drivers tend to commit different types of traffic violations.

You'll first create a ``DataFrame`` for each gender, and then analyze the ``violations`` in each ``DataFrame`` separately.

**INSTRUCTIONS**

*   Create a ``DataFrame``, female, that only contains rows in which ``driver_gender`` is ``'F'``.
*   Create a ``DataFrame``, male, that only contains rows in which ``driver_gender`` is ``'M'``.
*   Count the ``violations`` committed by female drivers and express them as proportions.
*   Count the violations committed by male drivers and express them as proportions.

In [207]:
#Â Create a DataFrame, female, that only contains rows in which driver_gender is 'F'.
ri[ri['driver_gender']=='F'].head(3)

,id,location_raw,county_fips,fine_grained_location,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,...,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district,frisk
stop_datetime,,,,,,,,,,,,,,,,,,,,,
2005-02-24 01:20:00,RI-2005-00016,Zone X3,NaN,NaN,200,F,1983.0,22.0,W,White,...,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone X3,False
2005-03-14 10:00:00,RI-2005-00019,Zone K3,NaN,NaN,300,F,1984.0,21.0,W,White,...,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K3,False
2005-03-29 23:20:00,RI-2005-00026,Zone K3,NaN,NaN,300,F,1971.0,34.0,W,White,...,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K3,False

In [208]:
# Create a DataFrame, female, that only contains rows in which driver_gender is 'M'.
ri[ri['driver_gender']=='M'].head(3)

,id,location_raw,county_fips,fine_grained_location,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,...,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district,frisk
stop_datetime,,,,,,,,,,,,,,,,,,,,,
2005-01-02 01:55:00,RI-2005-00001,Zone K1,NaN,NaN,600,M,1985.0,20.0,W,White,...,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1,False
2005-01-02 20:30:00,RI-2005-00002,Zone X4,NaN,NaN,500,M,1987.0,18.0,W,White,...,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4,False
2005-01-04 12:55:00,RI-2005-00004,Zone X4,NaN,NaN,500,M,1986.0,19.0,W,White,...,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4,False

In [209]:
# Count the violations committed by female drivers and express them as proportions.
ri[ri['driver_gender']=='F']['violation'].value_counts(normalize=True) * 100

Speeding               65.730757
Moving violation       13.658131
Equipment              10.705516
Registration/plates     4.307676
Other                   2.890848
Seat belt               2.707072
Name: violation, dtype: float64

In [210]:
# Count the violations committed by male drivers and express them as proportions.
ri[ri['driver_gender']=='M']['violation'].value_counts(normalize=True) * 100

Speeding               52.236397
Moving violation       20.694757
Equipment              13.510242
Other                   5.844966
Registration/plates     4.058138
Seat belt               3.655500
Name: violation, dtype: float64

In [211]:
## Analysis
### Speeding violation is higher than male drivers.

In [212]:
#import numpy as np
#ri.groupby(['driver_gender', 'violation']).sum().transform(lambda x: x/np.sum(x)*100)

***

## Comparing speeding outcomes by gender

When a driver is pulled over for speeding, many people believe that gender has an impact on whether the driver will receive a ticket or a warning. Can you find evidence of this in the dataset?

First, you'll create two ``DataFrames`` of drivers who were stopped for ``speeding``: one containing ***females*** and the other containing ***males***.

Then, for each **gender**, you'll use the ``stop_outcome`` column to calculate what percentage of stops resulted in a ``"Citation"`` (meaning a ticket) versus a ``"Warning"``.

**INSTRUCTIONS**

*   Create a ``DataFrame``, ``female_and_speeding``, that only includes female drivers who were stopped for speeding.
*   Create a ``DataFrame``, ``male_and_speeding``, that only includes male drivers who were stopped for speeding.
*   Count the **stop outcomes** for the female drivers and express them as proportions.
*   Count the **stop outcomes** for the male drivers and express them as proportions.

In [213]:
# female drivers who were stopped for speeding
df = ri[ri['driver_gender']=='F'] 
df[df.violation== "Speeding"].head(3)

,id,location_raw,county_fips,fine_grained_location,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,...,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district,frisk
stop_datetime,,,,,,,,,,,,,,,,,,,,,
2005-02-24 01:20:00,RI-2005-00016,Zone X3,NaN,NaN,200,F,1983.0,22.0,W,White,...,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone X3,False
2005-03-14 10:00:00,RI-2005-00019,Zone K3,NaN,NaN,300,F,1984.0,21.0,W,White,...,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K3,False
2005-03-29 23:20:00,RI-2005-00026,Zone K3,NaN,NaN,300,F,1971.0,34.0,W,White,...,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K3,False

In [214]:
# female drivers who were stopped for speeding
dfM = ri[ri['driver_gender']=='M'] 
dfM[dfM.violation== "Speeding"].head(3)

,id,location_raw,county_fips,fine_grained_location,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,...,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district,frisk
stop_datetime,,,,,,,,,,,,,,,,,,,,,
2005-01-02 01:55:00,RI-2005-00001,Zone K1,NaN,NaN,600,M,1985.0,20.0,W,White,...,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1,False
2005-01-02 20:30:00,RI-2005-00002,Zone X4,NaN,NaN,500,M,1987.0,18.0,W,White,...,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4,False
2005-01-18 08:15:00,RI-2005-00007,Zone K3,NaN,NaN,300,M,1965.0,40.0,W,White,...,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K3,False

In [231]:
#female_speeding = ri[(ri.driver_gender=="F") & (ri.violation == "Speeding")]

In [232]:
#male_speeding = ri[(ri.driver_gender=="M") & (ri.violation == "Speeding")]

In [215]:
# stop outcomes for the female drivers as proportions
df[df.violation== "Speeding"]['stop_outcome'].value_counts(normalize=True) * 100

Citation            95.324718
Warning              3.900323
Arrest Driver        0.529015
Arrest Passenger     0.103251
N/D                  0.090489
No Action            0.052205
Name: stop_outcome, dtype: float64

In [216]:
# stop outcomes for the male drivers as proportions
dfM[dfM.violation== "Speeding"]['stop_outcome'].value_counts(normalize=True) * 100

Citation            94.463619
Warning              3.608564
Arrest Driver        1.576658
Arrest Passenger     0.126549
N/D                  0.118332
No Action            0.106279
Name: stop_outcome, dtype: float64

## There is no impact of gender on receiving ticket or warning.

***

## Calculating the search rate

During a traffic stop, the police officer sometimes conducts a search of the vehicle. In this exercise, you'll calculate the percentage of all stops that result in a vehicle search, also known as the **search rate**.

**INSTRUCTIONS**

*   Check the data type of ``search_conducted`` to confirm that it's a ``Boolean Series``.
*   Calculate the search rate by counting the ``Series`` values and expressing them as proportions.
*   Calculate the search rate by taking the mean of the ``Series``. (It should match the proportion of ``True`` values calculated above.)

In [217]:
# search rate as proportions
ri['search_conducted'].value_counts(normalize=True) * 100

False    96.30408
True      3.69592
Name: search_conducted, dtype: float64

In [218]:
# the search rate by taking the mean
ri['search_conducted'].mean() * 100

3.6959199640437466

***

## Comparing search rates by gender

You'll compare the rates at which **female** and **male** drivers are searched during a traffic stop. Remember that the vehicle search rate across all stops is about **3.8%**.

First, you'll filter the ``DataFrame`` by gender and calculate the search rate for each group separately. Then, you'll perform the same calculation for both genders at once using a ``.groupby()``.

**INSTRUCTIONS 1/3**

*   Filter the ``DataFrame`` to only include **female** drivers, and then calculate the search rate by taking the mean of ``search_conducted``.

In [219]:
df['search_conducted'].mean() * 100

1.8751239152648356

**INSTRUCTIONS 2/3**

*   Filter the ``DataFrame`` to only include **male** drivers, and then repeat the search rate calculation.

In [220]:
dfM['search_conducted'].mean() * 100

4.379217389811301

**INSTRUCTIONS 3/3**

*   Group by driver gender to calculate the search rate for both groups simultaneously. (It should match the previous results.)

In [221]:
ri.groupby('driver_gender')['search_conducted'].value_counts(normalize=True) * 100

driver_gender  search_conducted
F              False               98.124876
               True                 1.875124
M              False               95.620783
               True                 4.379217
Name: search_conducted, dtype: float64

## Male search rate is higher than female

***

## Adding a second factor to the analysis

Even though the search rate for males is much higher than for females, it's possible that the difference is mostly due to a second factor.

For example, you might hypothesize that the search rate varies by violation type, and the difference in search rate between males and females is because they tend to commit different violations.

You can test this hypothesis by examining the search rate for each combination of gender and violation. If the hypothesis was true, you would find that males and females are searched at about the same rate for each violation. Find out below if that's the case!

**INSTRUCTIONS 1/2**

*   Use a ``.groupby()`` to calculate the search rate for each combination of gender and violation. Are males and females searched at about the same rate for each violation?

In [222]:
ri.groupby(['driver_gender','violation'])['search_conducted'].value_counts(normalize=True) * 100

driver_gender  violation            search_conducted
F              Equipment            False               95.975497
                                    True                 4.024503
               Moving violation     False               96.197867
                                    True                 3.802133
               Other                False               95.410182
                                    True                 4.589818
               Registration/plates  False               94.530005
                                    True                 5.469995
               Seat belt            False               98.225352
                                    True                 1.774648
               Speeding             False               99.226200
                                    True                 0.773800
M              Equipment            False               92.908432
                                    True                 7.091568
               Moving violation     False               94.084379
                                    True                 5.915621
               Other                False               95.388005
                                    True                 4.611995
               Registration/plates  False               89.641069
                                    True                10.358931
               Seat belt            False               96.829497
                                    True                 3.170503
               Speeding             False               97.336993
                                    True                 2.663007
Name: search_conducted, dtype: float64

**INSTRUCTIONS 2/2**

*   Reverse the ordering to group by violation before gender. The results may be easier to compare when presented this way.

In [223]:
ri.groupby(['violation','driver_gender'])['search_conducted'].value_counts(normalize=True) * 100

violation            driver_gender  search_conducted
Equipment            F              False               95.975497
                                    True                 4.024503
                     M              False               92.908432
                                    True                 7.091568
Moving violation     F              False               96.197867
                                    True                 3.802133
                     M              False               94.084379
                                    True                 5.915621
Other                F              False               95.410182
                                    True                 4.589818
                     M              False               95.388005
                                    True                 4.611995
Registration/plates  F              False               94.530005
                                    True                 5.469995
                     M              False               89.641069
                                    True                10.358931
Seat belt            F              False               98.225352
                                    True                 1.774648
                     M              False               96.829497
                                    True                 3.170503
Speeding             F              False               99.226200
                                    True                 0.773800
                     M              False               97.336993
                                    True                 2.663007
Name: search_conducted, dtype: float64

***

## Counting protective frisks

During a vehicle search, the police officer may pat down the driver to check if they have a weapon. This is known as a ``"protective frisk."``

You'll first check to see how many times "Protective Frisk" was the only search type. Then, you'll use a string method to locate all instances in which the driver was frisked.

**INSTRUCTIONS**

*   Count the ``search_type`` values to see how many times ``"Protective Frisk"`` was the only search type.
*   Create a new column, frisk, that is ``True`` if ``search_type`` contains the string ``"Protective Frisk"`` and ``False`` otherwise.
*   Check the data type of frisk to confirm that it's a ``Boolean Series``.
*   Take the sum of frisk to count the total number of frisks.

In [224]:
ri['search_type'].value_counts()

Incident to Arrest                                          6998
Probable Cause                                              4989
Reasonable Suspicion                                        1141
Inventory                                                   1101
Protective Frisk                                             879
Incident to Arrest,Inventory                                 649
Incident to Arrest,Probable Cause                            552
Probable Cause,Reasonable Suspicion                          334
Probable Cause,Protective Frisk                              221
Incident to Arrest,Protective Frisk                          158
Incident to Arrest,Inventory,Probable Cause                  151
Inventory,Probable Cause                                     132
Protective Frisk,Reasonable Suspicion                         83
Incident to Arrest,Inventory,Protective Frisk                 77
Incident to Arrest,Probable Cause,Protective Frisk            74
Inventory,Protective Frisk                                    52
Incident to Arrest,Reasonable Suspicion                       49
Probable Cause,Protective Frisk,Reasonable Suspicion          31
Incident to Arrest,Probable Cause,Reasonable Suspicion        31
Inventory,Reasonable Suspicion                                17
Inventory,Probable Cause,Protective Frisk                     14
Incident to Arrest,Inventory,Reasonable Suspicion             12
Inventory,Probable Cause,Reasonable Suspicion                  8
Incident to Arrest,Protective Frisk,Reasonable Suspicion       8
Inventory,Protective Frisk,Reasonable Suspicion                1
Name: search_type, dtype: int64

In [225]:
ri['frisk'] = (ri['search_type']== 'Protective Frisk')

In [226]:
ri['frisk'].dtype

dtype('bool')

In [227]:
ri['frisk'].value_counts().unique()[1]

879

***

## Comparing frisk rates by gender

You'll compare the rates at which female and male drivers are frisked during a search. Are males frisked more often than females, perhaps because police officers consider them to be higher risk?

Before doing any calculations, it's important to filter the ``DataFrame`` to only include the relevant subset of data, namely stops in which a search was conducted.

**INSTRUCTIONS**

*   Create a ``DataFrame``, searched, that only contains rows in which ``search_conducted`` is ``True``.
*   Take the mean of the frisk column to find out what percentage of searches included a frisk.
*   Calculate the frisk rate for each gender using a ``.groupby()``.

In [228]:
df1 = ri[ri['search_conducted']==True]

In [229]:
df1['frisk'].mean() * 100

4.9487670307397815

In [230]:
df1.groupby('driver_gender').agg({'frisk':'mean'})

                  frisk
driver_gender
F              0.042294
M              0.050644

In [204]:
df.to_csv('police_stop_gender.csv')